<?xml version="1.0" encoding="UTF-8" ?>
<configuration scans="true" scanPeriod="1 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <enCoder>
            <pattern>logback:%d{HH:mm:ss.SSS}  %logger{36} - %msg%n</pattern>
        </enCoder>
    </appender>

    <logger name="org.springframework.web" level="DEBUG"/> <!--设置为debug,这样在web请求中，相关信息能更直观一些-->

    <root level="info">
        <appender-ref ref="console"/>
    </root>



</configuration>